__pycache__/
*.pyc
.env
node_modules/
dist/
*.egg-info/
.venv/

# Local/demo video footage
pedespi_videos/

backend/ml_training/dataset/images/
backend/ml_training/dataset/labels/
backend/ml_training/runs/
Train/
Val/
Test/
*.pt

